@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* ABOUT PAGE */
.skills-bullets ul {
  list-style-type: none;
  padding-left: 20px; /* Adjust as needed */
}

.skills-bullets ul li:before {
  content: "\2022"; /* Bullet character */
  color: #ffcc00; /* Golden Yellow */
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Animated HR */
.animated-hr {
  position: relative;
  height: 2px;
  overflow: hidden;
  background: none;
}

.animated-hr::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  /* Twice the width to ensure continuity */
  height: 100%;
  background: linear-gradient(90deg, #efce96, #A855F7,  rgb(255, 106, 0));
  animation: animate-hr 3s linear infinite;
  -webkit-animation: animate-hr 3s normal infinite;
}

@keyframes animate-hr {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.index {
  z-index: 1;
}

/* Social media color of icons */
.social-icon-linkedin:hover {
  filter: invert(20%) sepia(75%) saturate(4932%) hue-rotate(200deg) brightness(94%) contrast(92%);
  -webkit-filter: invert(20%) sepia(75%) saturate(4932%) hue-rotate(200deg) brightness(94%) contrast(92%);
}

@font-face {
  font-family: 'YourFontName';
  src: url('/fonts/BrettleySignatureRegular-RpEMo.ttf') format('truetype');
  font-display: swap;
}

.logo-font {
  font-family: 'YourFontName', sans-serif;
  font-size: 2rem;
}

.img-border-css {
  border: .5px solid white;
  border-radius: .7em;
  box-shadow: 1px 3px 3px rgba(255, 255, 255, 0.447);
  -webkit-border-radius: .7em;
  -moz-border-radius: .7em;
  -ms-border-radius: .7em;
  -o-border-radius: .7em;
  height: 95%;
  width: 95%;
  image-rendering: auto;
}
